@font-face {
    font-family: 'MesloLGS NF';
    src: url('/assets/fonts/MesloLGS NF Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MesloLGS NF";
    src: url('/assets/fonts/MesloLGS NF Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "MesloLGS NF";
    src: url('/assets/fonts/MesloLGS NF Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "MesloLGS NF";
    src: url('assets/fonts/MesloLGS NF Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'MesloLGS NF';
    background-image: url("assets/images/background.png");
    background-repeat: repeat;
    margin: 0;
}

div.header {
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 5px;
    font-size: 7vh;
}

div.nav-bar {
    background-color: rgb(114, 114, 114);
    text-align: center;
}

a.nav-bar {
    color:white;
    font-style: italic;
    font-size: 3vh;
}

ul.nav-bar {
    list-style-type: none;
    text-align: center;
    width: 100%;
    display: table;
    margin: 0;
}

li.nav-bar {
    display: table-cell;
}